# Prerequisites
*.d

# Object files
*.o
*.i
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# ignore the specified files and directoryies
node_modules/
tags
objs/html/
objs/latex/
.*.swp

main
demo

*.wav
*.pcm
*.txt

# 
!project/vad/lib/libMNPCVAD.so

#ignore dirs
src/*/configs

lib/

src/com-lib/alsa-lib-1.1.6/
src/com-lib/jpeg-9/
src/com-lib/zlib/
src/com-lib/build/
src/com-lib/install/

inc/network
inc/ntp
inc/utils

# for autotools ignore
*.log
aclocal.m4
autom4te.cache/
config.h.in
configure
Makefile.in
compile
depcomp
install-sh
missing
.deps/
config.h
config.status
stamp-h1


